* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}
.flex {
  display: -webkit-box;
  display: flex;
}
.wrap {
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-top: 30px;
}
.btn_primary {
  background-color: #12cc12;
  padding: 10px 30px;
  color: white;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.btn_primary:hover {
  color: black;
  box-shadow: 0 8px 10px 0px rgba(10, 39, 207, 0.2);
}
div.buttons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  div.buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}
.form_wrap {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  align-content: center;
}
.add_user {
  width: 50%;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}
@media screen and (max-width: 1024px) {
  .add_user {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .add_user {
    width: 100%;
  }
}
.add_user form input {
  margin: 10px 0;
}
.add_user form input[type=text] {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.add_user form input[type=submit] {
  width: 100%;
  padding: 15px 20px;
}
.add_user form input[type=radio] {
  margin: 5px;
}
.add_user form .validation_error {
  border: 1px solid red;
}
.add_user form small {
  margin-bottom: 20px;
  color: rgba(243, 57, 57, 0.5);
  font-weight: bold;
}
.add_user .errors {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 30px;
  padding: 10px;
  background-color: rgba(243, 57, 57, 0.5);
  border-radius: 5px;
  line-height: 1.5em;
}
.users {
  width: 70%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}
@media screen and (max-width: 1024px) {
  .users {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .users {
    width: 100%;
    background-color: rgba(89, 201, 15, 0.918);
  }
  .users h1 {
    text-align: center;
  }
}
.users table {
  margin-top: 30px;
  border-collapse: collapse;
  border-radius: 5px;
}
.users table tr:nth-child(even) {
  background-color: #c7c5c5;
}
.users table tr:hover {
  background-color: #afcf95;
}
.users table thead {
  background-color: #12cc12;
  color: white;
}
.users table thead:hover {
  background-color: #12cc12;
}
.users table td,
.users table th {
  padding: 10px 20px;
}
@media screen and (max-width: 500px) {
  .users caption {
    font-size: 20px;
    color: white;
  }
  .users table,
  .users thead,
  .users tbody,
  .users th,
  .users td,
  .users tr {
    display: block;
    font-size: 20px;
  }
  .users thead tr {
    border: 2px solid white;
  }
  .users thead tr th {
    border-bottom: 2px solid white;
  }
  .users tr {
    border: 2px solid #12cc12;
    margin-top: 10px;
  }
  .users td {
    border: none;
    border-bottom: 1px dashed #12cc12;
    text-align: center;
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  .users table > caption {
    font-size: 20px;
    color: white;
  }
  .users table,
  .users thead,
  .users tbody,
  .users th,
  .users td,
  .users tr {
    display: block;
    font-size: 20px;
  }
  .users thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .users tr {
    border: 2px solid #12cc12;
    margin-top: 10px;
    background-color: #f2f2f2;
  }
  .users td {
    border: none;
    border-bottom: 1px dashed #12cc12;
    text-align: center;
    position: relative;
  }
  .users td:before {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .users td:nth-of-type(1):before {
    content: "Name:";
  }
  .users td:nth-of-type(2):before {
    content: "Email:";
  }
  .users td:nth-of-type(3):before {
    content: "Birthday:";
  }
  .users td:nth-of-type(4):before {
    content: "Gender:";
  }
}
